@font-face {
	font-family: monda;
	src: url(../fonts/IBMPlexSerif-Medium.ttf);
}

body {
	margin: 0;
	font-family: monda;
	letter-spacing: 0.05rem;
	background-color: #f0f2f5;
}

.cur-pointer {
	cursor: pointer;
}

.no-data {
	display: flex;
	justify-content: center;
	margin: 3rem;
}

.table-container {
	overflow: auto;
	height: calc(100vh - 200px);
}

.common-table {
	.table-head {
		position: sticky;
		top: 0;
		z-index: 1;
		height: 5rem;
		background-color: #fff;
	}

	.table-body {
		.table-row {
			height: 3rem;
			background-color: #fff;
		}
	}
}

.popover-body {
	padding: 0;

	.popover_button {
		margin: 0.4rem;
		border-color: #746e6e;
		width: 5.5rem;
	}
}

.toaster__container {
	border: none;

	.toaster {
		border-color: #dae6f5;

		.toaster-body {
			background-color: #dae6f5;

			.toast__body-content {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.toaster__close-icon {
					height: 2rem;
				}
			}
		}
	}
}

.reprogressbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
