@import 'bootstrap/scss/bootstrap.scss';

@font-face {
	font-family: monda;
	src: url(../fonts/IBMPlexSerif-Medium.ttf);
}

body {
	margin: 0;
	font-family: monda;
	letter-spacing: 0.05rem;
	background-color: $gray-100;

	/* width */
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: $gray-300;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: $gray-500;
		border-radius: 10px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: $gray-600;
	}
}

.custome-disabled {
	pointer-events: none;
	cursor: default;
}

.op-5{
	opacity: .5;
}

.cur-pointer {
	cursor: pointer;
}

.no-data {
	display: flex;
	justify-content: center;
	margin: 3rem;
}

tbody {
	display: block;
	height: 50rem;
	max-height: calc(100vh - 230px);
}

.overflow_update {
	overflow-y: scroll;
}

thead,
tr {
	display: table;
	table-layout: fixed;
	width: 100%;
}

thead {
	width: calc(100% - 10px);
	position: relative;
}

.export-data-table {
	tbody {
		max-height: calc(100vh - 285px) !important;
	}
}

.popover-body {
	padding: 0;

	.popover_button {
		margin: 0.4rem;
		border-color: #746e6e;
		width: 5.5rem;
	}
}

.toaster__container {
	border: none;

	.toaster {
		border-color: #dae6f5;

		.toaster-body {
			background-color: #dae6f5;

			.toast__body-content {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.toaster__close-icon {
					height: 2rem;
				}
			}
		}
	}
}

.reprogressbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.navbar-nav {
	.active {
		background-color: $gray-200;
	}
}

.catering-invoice {
	--bs-gutter-x: 10rem !important;
}

.invoice-container {
	--bs-gutter-x: 30rem !important;
}

input[type='date'] {
	position: relative;
}

input[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	background: transparent;
	color: transparent;
	cursor: pointer;
	height: auto;
	width: auto;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.dropdown__menu {
	width: 100%;

	.dropdown__menu_items {
		height: auto !important;
		max-height: 200px;
	}
}
