@font-face {
  font-family: monda;
  src: url(../fonts/IBMPlexSerif-Medium.ttf);
}

body {
  margin: 0;
  font-family: monda;
  letter-spacing: 0.05rem;
  background-color: #F0F2F5;
}

.cur-pointer {
  cursor: pointer;
}

.no-data {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.common-table {

  // border-collapse: collapse;
  // border: none;

  .table-head {
    height: 4rem;
    background-color: #DAE6F5;
  }

  .table-body {

    .table-row {
      height: 3rem;
      background-color: #fff;
    }

  }
}

.popover-body {
  padding: 0;

  .popover_button {
    margin: 0.4rem;
    border-color: #746e6e;
    width: 5.5rem;
  }
}

.toaster__container {
  border: none;

  .toaster {
    border-color: #DAE6F5;

    .toaster-body {
      background-color: #DAE6F5;

      .toast__body-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .toaster__close-icon {
          height: 2rem
        }
      }
    }
  }

}